html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(-180deg, #4a6685, #4e3647);
}

h3 {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

[v-cloak] {
    display: none;
}

.main {
    padding: 0 60px;
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.el-tree {
    padding: 20px;
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 26px;
}

.el-tree-node__content {
    padding: 6px 0;
}

